<h1>City Search Engine</h1>

<!-- City Data -->
    <div class="city-data">
        <h2>도시 목록</h2>
        <ul>
        {% for city in object_list %}
            <li>
                {{ city.name }} - {{ city.state }}
            </li>
        {% endfor %}
        </ul>
    </div>

<!-- Search Form -->
<form id="searchForm" action="/search" method="get">
    <input id="searchInput" name="q" type="text" placeholder="Search...">
    <button type="submit">검색</button>
</form>

<!-- Search Results -->
    <div id="searchResults"></div>
    <script>
        function handleSearch(event) {
            event.preventDefault();

            var searchInput = document.getElementById("searchInput").value;

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    document.getElementById("searchResults").innerHTML = xhr.responseText;
                }
            };
            xhr.open("GET", "/search?q=" + searchInput, true);
            xhr.send();
        }

        document.getElementById("searchForm").addEventListener("submit", handleSearch);
    </script>