{% extends "myserver/base.html" %}
{% load static i18n humanize base_tag landing_tag %}

{% block title %}{{page_title}}{% endblock %}

{% block page_title %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <a class="btn btn-success mb-2" href="{% url 'administrator:buildblock-property-create' %}">ADD BUILDBLOCK PROPERTY</a>
            </div>

            <h4 class="page-title">{{page_title}}</h4>
        </div>
    </div>
</div>
<!-- end page title -->
{% endblock page_title %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>빌드블록 홈페이지 워프게이트</title>
</head>
<body>
    <span>컨텐츠 채우기 용 아무 말 첨가</span><br>
    <span>이건 무슨 기능일까</span><br>
    <th>이동포탈</th><br>
    <a href=https://buildblock.io/ko?gclid=CjwKCAiAq4KuBhA6EiwArMAw1CEPMmL_gMMfUPAy_vlm0ybevD3SM9sCvShznVXYfSPovxpAMzD8vBoCjSwQAvD_BwE>빌드블럭</a>
</body>
</html>